name: Publish to Github Pages

on:
  workflow_dispatch:
  push:
    branches:
      - main
      
jobs:
  build:
    name: Publish to GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup NodeJS
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - run: npm install
      - name: Build TailwindCSS
        run: npm run tailwind-build

      - name: Zola Deploy
        uses: shalzz/zola-deploy-action@master
        env:
          PAGES_BRANCH: gh-pages
          BUILD_DIR: public
          TOKEN: ${{ secrets.TOKEN }}